<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Lista Lineas</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>	
	</head>
	<body>
		<h1>Lineas en la base de datos</h1>

		<div th:switch="${lineas}">
		    <h2 th:case="null">No hay lineas</h2>
		    <div th:case="*">
		            <h2 style="color:#069">Lineas</h2>
		            <table border="1">
		                <thead>
		                    <tr>
		                        <th>Codigo linea</th>
		                        <th>Nombre corto</th>
		                        <th>Codigo largo</th>
		                        <th>km</th>
		                        <th>Codigo color</th>
		                        <th>nombre color</th>
		                        <th>Codigo Hexadecimal color</th>
		                        
		                    </tr>
		                </thead>
		                <tbody>
						<tr th:each="linea: ${lineas}">
		                    <td th:text="${linea.codigoLinea}"></td>
		                    <td th:text="${linea.nombreCorto}"></td>
		                   	<td th:text="${linea.nombreLargo}"></td>
		                   	<td th:text="${linea.kilometros}"></td>
		                   	<td th:text="${linea.color.codigoColor}"></td>
		                   	<td th:text="${linea.color.nombre}"></td>
		                   	<td th:text="${linea.color.codigoHexadecimal}"></td>
		                </tr>
		            </tbody>
		        </table>
		    </div>      
		</div>
	</body>
</html>